*{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	font-family: Arial;
	text-decoration: none;
}

div#clubes{
	width: 1150px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

div ul.list-times{
	display: inline-block;
	position: relative;
	overflow: hidden;
}

div ul.list-times li{
	float: left;
	position: relative;
	width: 163px;
	height: 170px;
	border: 2px solid #e5e5e5;
	margin-left: 28px;
	margin-bottom: 20px;
}



div ul.list-times li.triangulo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0;
  margin: 0 -20px; 
  position: absolute;
  bottom: -22px;
  left: 50%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ca9916;
}
div ul.list-times li:nth-child(6n+1){
	margin-left: 0;
}

div ul.list-times li a{
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all ease .25s;
	-moz-transition: all ease .25s;
	-webkit-transition: all ease .25s;
	padding-top: 25px;
}

#clubes div + div ul.list-times li:nth-child(3) a strong,
#clubes div + div ul.list-times li:nth-child(5) a strong{
	font-size: 14px;
}

div ul.list-times li a:focus{
	outline: none;
}

div ul.list-times li a:hover{
	border: 4px solid #e5e5e5;
}

div ul.list-times li a img{
	height: 100%;
	width: 100%;
}

div ul.list-times li a span.image-entry{
	height: 100px;
	width: 80px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: block;
}

div ul.list-times li a strong{
	color: #1f1f1f;
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-top: 5px;
}

div ul.list-times li a span{
	color: #adadad;
	font-size: 11px;
	font-weight: bold;
	display: block;
}

.content-info{
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all ease .25s;
	-moz-transition: all ease .25s;
	-webkit-transition: all ease .25s;
}

.aberto .content-info{
	height: 370px;
}

.content-info .infos{
	position: relative;
	overflow: hidden;
	background: url("../images/bg.jpg") no-repeat;
	background-size: cover;
	height: 370px;
}

.content-info .header-info{
	height: 30px;
	background-color: #ca9916;
	text-align: center;
}

.content-info .header-info h3{
	font-weight: normal;
	font-size: 20px;
	color: #fff;
	line-height: 30px;
	text-transform: uppercase;
}

.content-info .times-grupos{
	text-align: center;
	margin: 20px 0 30px 0;
}

.content-info .times-grupos ul{
	display: inline-block;
}

.content-info .times-grupos ul li:first-child{
	margin-left: 0;
}

.content-info .times-grupos ul li{
	float: left;
	color: #8c8c8c;
	font-size: 16px;
	transition: all ease .25s;
	-moz-transition: all ease .25s;
	-webkit-transition: all ease .25s;
	margin-left: 20px;
}

.content-info .times-grupos ul li.active{
	color: #3f3f3f; 
	border-bottom: 3px solid #ca9916;
}

.content-info .times-information div.ficha-tecnica,
.content-info .times-information div.estadio,
.content-info .times-information div.destaque-time,
.content-info .times-information div.jogos-desempenho{
	float: left;
	margin-left: 25px;
}

.content-info .times-information div h3{
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	color: #bd8d0c;	
}

.content-info .times-information div h4{
	font-size: 16px;
	font-weight: normal;
	color: #272727;
	padding-left: 10px;
	position: relative;
	text-align: left;
}

.content-info .jogos-desempenho > div{
	float: none;
}

.content-info .times-information div h4:before{
	content: '\f0da';
	font-family: 'FontAwesome';
	color: #bd8d0c;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
}

.jogos-desempenho .jogos ul li p,
.jogos-desempenho .desempenho ul li p{
	color: #272727;
}

.jogos-desempenho .jogos ul li p span,
.jogos-desempenho .desempenho ul li p span{
	color: #868686;
}

.content-info .times-information div p,
.content-info .times-information div h4 span,
.content-info .times-information div h3 span{
	color: #868686;
	text-align: left;
	font-size: 15px;
}

.content-info .times-information .ficha-tecnica,
.content-info .times-information .destaque-time{
	width: 260px;
}

.content-info .times-information .estadio{
	width: 170px;
}

.estadio .image-content{
	width: 170px;
	height: 115px;
	position: relative;
	overflow: hidden;

}

.destaque-time .image-content,
.ficha-tecnica .image-content{
	width: 260px;
	height: 115px;
	position: relative;
	overflow: hidden;
}

.estadio .image-content img,
.destaque-time .image-content img,
.ficha-tecnica .image-content img{
	width: 100%;
	height: 100%;
}