<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

<div id="clubes">

</div>

<script id="lista-times-um" type="x-tmpl-mustache">
<div>
	<ul class="list-times">
	{{#clubesUm}}
		<li>
			<a href="#" data-value="{{value}}">
				<span class="image-entry">
					<img src="images/logos/{{img}}" />
				</span>
				<strong>{{nome}}</strong>
				<span>{{grupo}}</span>
			</a>
		</li>
	{{/clubesUm}}
	</ul>
	<div class="content-info"></div>
</div>
</script>
<script id="lista-times-dois" type="x-tmpl-mustache">
<div>
	<ul class="list-times">
	{{#clubesDois}}
		<li>
			<a href="#" data-value="{{value}}">
				<span class="image-entry">
					<img src="images/logos/{{img}}" />
				</span>
				<strong>{{nome}}</strong>
				<span>{{grupo}}</span>
			</a>
		</li>
	{{/clubesDois}}
	</ul>
	<div class="content-info"></div>
</div>
</script>
<script id="lista-times-tres" type="x-tmpl-mustache">
<div>
	<ul class="list-times">
	{{#clubesTres}}
		<li>
			<a href="#" data-value="{{value}}">
				<span class="image-entry">
					<img src="images/logos/{{img}}" />
				</span>
				<strong>{{nome}}</strong>
				<span>{{grupo}}</span>
			</a>
		</li>
	{{/clubesTres}}
	</ul>
	<div class="content-info"></div>
</div>
</script>
<script id="lista-times-quatro" type="x-tmpl-mustache">
<div>
	<ul class="list-times">
	{{#clubesQuatro}}
		<li>
			<a href="#" data-value="{{value}}">
				<span class="image-entry">
					<img src="images/logos/{{img}}" />
				</span>
				<strong>{{nome}}</strong>
				<span>{{grupo}}</span>
			</a>
		</li>
	{{/clubesQuatro}}
	</ul>
	<div class="content-info"></div>
</div>
</script>
<script id="information-times" type="x-tml-mustache">
	<div class="header-info">
		<h3>{{grupo.nome}}</h3>
	</div>
	<div class="infos">
		<div class="times-grupos">
			<ul>
				{{#grupo.clubes}}
				<li class="{{#selecionado}}active{{/selecionado}}{{^selecionado}}{{/selecionado}}">
					{{nome}}
				</li>
				{{/grupo.clubes}}
			</ul>
		</div>

		<div class="times-information">
			<div class="ficha-tecnica">
				<h3>Ficha Técnica</h3>

				<h4>{{fichaTecnica.nome}}</h4>
				<p>{{fichaTecnica.fundacao}}</p>

				<h4>Títulos Paulistas <span>{{fichaTecnica.titulos}}</span></h4>

				<div class="image-content">
					<img src="/images/mascotes/{{fichaTecnica.logoMascote}}" alt="{{fichaTecnica.logoMascote}}" title="{{fichaTecnica.logoMascote}}">
				</div>	

				<h3>Mascote <span>- {{fichaTecnica.mascote}}</span></h3>
			</div>
			
			<div class="estadio">
				<div class="image-content">
					<img src="/images/estadios/{{estadio.logo}}.jpg" alt="{{estadio.logo}}" title="{{estadio.logo}}">
				</div>	

				<h3>Estádio</h3>
				<p>{{estadio.nome}}</p>

				<h4>Capacidade</h4>
				<p>{{estadio.capacidade}}</p>

				<h4>Endereço</h4>
				<p>{{estadio.endereco}}</p>
			</div>

			<div class="destaque-time">
				<div class="image-content">
					<img src="/images/destaques/{{destaque.logo}}.jpg" alt="{{destaque.logo}}" title="{{destaque.logo}}">
				</div>

				<h3>Destaque do Time</h3>

				<h4>{{destaque.nome}}</h4>
				<p>{{destaque.conteudo}}</p>
			</div>

			<div class="jogos-desempenho">
				<div class="jogos">
					<h3>Jogos da próxima fase</h3>
					<ul>
						{{#proximaFase}}
						<li>
							<p>{{data}} - <span>{{detalhe}}</span></p>
						</li>
						{{/proximaFase}}
					</ul>
				</div>

				<div class="desempenho">
					<h3>Desempenho nos últimos cinco anos</h3>
					<ul>
						{{#desempenho}}
						<li>
							<p>{{data}} - <span>{{conteudo}}</span></p>
						</li>
						{{/desempenho}}
					</ul>
				</div>
			</div>

		</div>
 
	</div>
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="bower_components/mustache.js/mustache.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
	
	(function($){
		$(function (){
			Index.init();
		})

	})(jQuery);


</script>
</body>

</html>